http-server:
 addr: :8008
libvirt:
 uri: qemu:///system
internal-service:
 apiServer: "APISERVER_ADDRESS"
 storage:
  grpc-domain: "STORAGE_GRPC_DOMAIN"
 network:
  grpc-domain: "NETWORK_GRPC_DOMAIN"
