[Unit]
Description=odns-api-admin Application
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/ocn/odns-api-admin
EnvironmentFile=/opt/ocn/odns-api-admin/config/config.env
ExecStart=/opt/ocn/odns-api-admin/bin/odns-api-admin
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target